<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" />
  <link rel="stylesheet" href="/css/github.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/npm.css">
  <link rel="stylesheet" href="/css/technologies.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/effects.css">
  <link rel="icon" type="image/x-icon" href="/img/logo.gif">
  <title>Eren - Home</title>
</head>

<body>
  <%- include('../include/navbar.ejs') %>
  <%- include('../components/main.ejs') %>
  <%- include('../components/github.ejs') %>
  <%- include('../components/npm.ejs') %>
  <%- include('../components/technologies.ejs') %>
  <%- include('../include/footer.ejs') %>
</body>
<script src="/js/maxWords.js"></script>
<script src="/js/pages.js"></script>
<script src="/js/badges.js"></script>
<script src="/js/effects.js"></script>
</html>
